*{
  padding:0;
  margin: 0;
  box-sizing: border-box;

}

 .content{
  height: 77vh; 
  overflow: hidden;
  background: linear-gradient(to right, #4b2e2e, #1e3d53, #1c4c5a, #1e3d53, #4b2e2e)
  
}
.navbar{
  background:linear-gradient(to right, #608796, #535680) !important;
  color: gray;
} 


.register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/* transaction page */
.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}

/* Antd icons */
.anticon svg{
  font-size: 20px;
  cursor: pointer;
}
.active-icon{
  color:black
}
.inactive-icon{
  color:gray
}
.switch-icons{
 border: 1px solid rgb(0, 0, 0.677);
  border-radius: 5px;
  padding: 10px 15px;
}